
<nav class="navbar navbar-expand-lg  
navbar-light  fixed-top py-lg-0 "> 

<a class="navbar-brand" href="#"> 

    <!-- Add logo with size of 90*80 -->
    <img src="../../../../assets/logo.PNG"
    width="120" height="50" alt=""> 
</a> 
  
<button class="navbar-toggler" type="button"
        data-toggle="collapse" 
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
        style="background-color: white;"> 
          
        <span  class="navbar-toggler-icon"></span> 
</button> 

<div class="collapse navbar-collapse"
        id="navbarResponsive"> 
    <ul class="navbar-nav ml-auto"> 
        <li class="nav-item"> 
            <a class="nav-link"><button class="btn btn-warning" >About Us</button></a> 
        </li> 
        <li class="nav-item"> 
            <a class="nav-link"><button class="btn btn-warning">Donate Now</button></a> 
        </li> 
    </ul> 
</div> 
</nav> 