<div class="footer">
    <div class="row">
        <div class="col-sm-4">
           <div class="about-us">
           <h5> About Us </h5>
           <p>On our platform, you can donate to a nonprofit with confidence. We do all this so that our donors can trust that their giving is indeed doing what it's supposed to do - change lives.</p>
           </div>
        </div>

        <div class="col-sm-4">
            <div class="logo">
                <img src="../../../../assets/logo.PNG" alt="">
            </div>
        </div>

        <div class="col-sm-4">
           <div class="follow-us">
           <h5> Follow us</h5>
           <a href="#" class="fa fa-facebook"></a>
           <a href="#" class="fa fa-twitter"></a>
           <a href="#" class="fa fa-google"></a>
           </div>
        </div>
    </div>
</div>